.funBusTitle () {
    color: @shark;
    font-size: 2rem;
    background-color: red;
}

.topLinks() {
    color: @shark;
    text-decoration: none;  
    background-color: green;
}

.navigation-border() {
    border-bottom: 2px dashed @silver;
}
