// Navigation Styles here
header {
    margin: 0 auto;
    .navigation-border();
    width: 42%;
    .flexy(row, space-between);
    h1 {
        .funBusTitle();
    }
    nav {
        width: 50%;
        .topLinks();
        .flexy(row, space-between);
    }




}

